{% extends "user/home_base.html" %} {% block title %} Dashboard {% endblock %}

{%block body %}

    <div class="container-fluid">
        <h1>Note Categories</h1>
        <br>

        <a href="" class="" data-toggle="modal" data-target="#note">
            <i class="material-icons icon">loupe</i>
        </a>

        <!-- The Modal -->
        <div class="modal" id="note">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h2 class="modal-title">Create Category </h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="title"> Title </label>
                                <input type="title" class="form-control" id="title" name="title" placeholder="Enter Title">
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Create </button>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    

        {% for category in categories %}
            <a href="{{url_for('views.view_category', cat_id=category.id)}}">
                <div class="row">
                    <ul class="list-group list-group-flush" id="notes">
                                <li class="list-group-item "> {{ category.title }} </li>
                    </ul>
                </div>
            </a>
        {% endfor %}
            
        </div>
    </div>
{% endblock %}