{% extends "user/home_base.html" %} {% block title %} Dashboard {% endblock %}

{%block body %}

    <div class="container-fluid">
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('views.home')}}">Category</a></li>
                <li class="breadcrumb-item active" aria-current="page">Notes</li>
            </ol>
        </nav>

        <h1>Notes </h1>

        <a href="" class="" data-toggle="modal" data-target="#note">
            <i class="material-icons icon" id="loupe">edit</i>
        </a>

        <!-- The Modal -->
        <div class="modal" id="note">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h2 class="modal-title">Edit Note </h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="title"> Title </label>
                                <input type="title" class="form-control" id="title" name="title" placeholder="Enter Title" value="{{ note.title }}">
                            </div>

                            <div class="form-group">
                                <label for="body"> Body </label>
                                <textarea name="body" class="form-control" id="body" cols="30" rows="10">{{ note.body }}</textarea>
                            </div>

                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Create </button>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <ul class="list-group list-group-flush">
            <div class="">
                <li class="list-group-item"> {{ note.title }} </li>
                <br>
                <li class="list-group-item"> {{ note.body }} </li>
            </div>
        </ul>
            
        </div>
    </div>
{% endblock %}