<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

  <title> {% block title %} Note App {% endblock %} </title>

</head>
<body>
  <nav class="navbar navbar-dark bg-dark " role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
          <img src="{{url_for('static', filename='images/logo.png')}}" class="img-responsive" alt="Logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="/"> Home </a> </li>
          {% if user.is_authenticated  and 'role' not in session %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/home">Dashboard</a></li>
          {% else %}
            <li><a href="/register">Signup</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container main">

      <div class="flash">
        {% include "includes/_messages.html" %}
      </div>

      <br>
      <br>
      {%block body %}
      

      {% endblock %}
  </div>

  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-3">
          <a href="https://twitter.com/emblicgroup" class="fa fa-twitter" target="_blank"></a>
        </div>
        <div class="col-sm-3">
          <a href="https://wa.me/2348160754862" class="fa fa-whatsapp" target="_blank"></a>
        </div>
        <div class="col-sm-3">
          <a href="https://github.com/izudada" class="fa fa-github" target="_blank"></a>
        </div>
        <div class="col-sm-3">
          <a href="https://github.com/izudada/note_app" class="fa fa-linkedin" target="_blank"></a>
        </div>
      </div>
    </div>
  </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>