{% extends "base.html" %} {% block title %} Home {% endblock %}

{%block body %}
        <div class="row index">
            <div class="col-sm-6 ">
                <h1>Mind 2 Paper</h1>
                <p> 
                    Put down your thoughts in a safe, reliable and friendly space. 
                    Care to share your thoughts with your future self? <br> <br>
                    <button class="btn btn-success"> <a href="/register"> Get Started </a> </button>
                </p>
            </div>
            <div class="col-sm-6">
                <img src="../static/images/index.png" class="img-responsive" alt="">
            </div>
        </div>
        

        <div class="row features text-center">
            <h2 class="text-center">Features</h2>

                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <label for=""> Create Category </label>
                    </div>
                    <div class="col-sm-4 direction">
                        <i class="material-icons icon" id="loupe">loupe</i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <label for=""> Create Note</label>
                    </div>
                    <div class="col-sm-4 direction">
                        <i class="material-icons icon" id="loupe">note_add</i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-4">
                        <label for="">  Edit Note </label>
                    </div>
                    <div class="col-sm-4 direction">
                        <i class="material-icons icon" id="loupe">edit</i>
                    </div>
                </div>
            
        </div>

{% endblock %}